.App {
  text-align: center;
  --sq-basic: #cdc6ac;
  --sq-tws: #fa664d;
  --sq-dws: #f9bbaa;
  --sq-tls: #3b9bb3;
  --sq-dls: #b7d1cc;
  --dls-light: #d1ebe6;
}

button {
  margin: 0 5px 10px 5px;
  background-color: var(--sq-tls);
  cursor: pointer;
  font-family: "FuturaBold", sans-serif;
}

button.small {
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
}

button.medium {
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
}

button:disabled {
  background-color: var(--sq-dls);
}

.danger {
  background-color: var(--sq-tws);
}

p {
  margin: 10px 0;
  font-family: "NewGothicStandard";
  font-weight: bold;
}
