.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-panel,
.right-panel {
  margin-top: 70px;
  width: 275px;
}

.letter-bag {
  height: 350px;
}

.letters-left {
  color: white;
  font-size: 40px;
  font-family: "FuturaBold";
  background-size: cover;
  height: 250px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abandon-game {
  margin-bottom: 20px;
}

.dump-instructions {
  color: white;
}
