.board {
  --sq-basic: #cdc6ac;
  --sq-tws: #fa664d;
  --sq-dws: #f9bbaa;
  --sq-tls: #3b9bb3;
  --sq-dls: #b7d1cc;
}

.rack {
  --tile: #fedbbf;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 55px;
  width: 55px;
  border: 1px white solid;
  background: var(--sq-basic);
  font-family: "FuturaBold", sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tls {
  background: var(--sq-tls);
}
.tws {
  background: var(--sq-tws);
}
.dls {
  background: var(--sq-dls);
}
.dws {
  background: var(--sq-dws);
}

.rack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tile {
  font-family: "NewGothicStandard", sans-serif;
  font-size: 24px;
  height: 55px;
  width: 55px;
  background: var(--tile);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  align-items: center;
}

.rack .tile {
  margin: 5px;
}

.backgroundImage-1 {
  background-image: url("../../../assets/images/tile1.png");
}

.backgroundImage-2 {
  background-image: url("../../../assets/images/tile2.png");
}

.backgroundImage-3 {
  background-image: url("../../../assets/images/tile3.png");
}

.backgroundImage-4 {
  background-image: url("../../../assets/images/tile4.png");
}

.rack .selected {
  /* Sum of border and margin should be the same whether selected or not */
  border: 4px solid red;
  margin: 1px 2px;
}

.tile-points {
  position: relative;
  top: 17px;
  left: 10px;
  font-size: 10px;
}
