.game-log {
  display: flex;
  justify-content: center;
  font-family: "NewGothicStandard", sans-serif;
  font-weight: bold;
  background: var(--dls-light);
  padding: 20px;
  border-radius: 20px;
}

thead {
  font-size: 28px;
}

.score-header {
  font-size: 20px;
}

.scores {
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

td {
  margin: 0 10px;
}

thead td {
  padding: 10px 7px;
}

tbody td {
  padding: 3px 7px;
}

.emoji {
  padding-left: 10px;
}
