.board {
  --sq-basic: #cdc6ac;
  --sq-tws: #fa664d;
  --sq-dws: #f9bbaa;
  --sq-tls: #3b9bb3;
  --sq-dls: #b7d1cc;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 55px;
  width: 55px;
  border: 1px white solid;
  background: var(--sq-basic);
  font-family: "FuturaBold", sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tls {
  background: var(--sq-tls);
}
.tws {
  background: var(--sq-tws);
}
.dls {
  background: var(--sq-dls);
}
.dws {
  background: var(--sq-dws);
}