.tile {
  font-family: "NewGothicStandard", sans-serif;
  font-size: 24px;
  height: var(--tile-size);
  width: var(--tile-size);
  background-color: #6a1f29;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  align-items: center;
}

.rack .tile {
  margin: 5px;
}

.tile.selected {
  --sel-border-width: 3px;
  border: var(--sel-border-width) solid red;
}

.rack .tile.selected {
  /* Sum of border and margin should be the same whether selected or not */
  margin: 1px 3px;
}

.board .tile.selected {
  /*--sel-tile-size: calc(var(--tile-size) - ((var(--sel-border-width) - 1) * 2));*/
  height: 38px;
  width: 38px;
}

.tile-points {
  position: relative;
  top: 12px;
  left: 4px;
  font-size: 10px;
}
