.tile {
  font-family: "NewGothicStandard", sans-serif;
  font-size: 24px;
  height: 55px;
  width: 55px;
  background-color: #6a1f29;
  color: white;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  align-items: center;
}

.rack .tile {
  margin: 5px;
}

.tile.selected {
  border: 4px solid red;
}

.rack .tile.selected {
  /* Sum of border and margin should be the same whether selected or not */
  margin: 1px 2px;
}

.board .tile.selected {
  height: 49px;
  width: 49px;
}

.tile-points {
  position: relative;
  top: 17px;
  left: 10px;
  font-size: 10px;
}
